<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="roberto.nobrega.appminhaideia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMinhaIdeia">

        <!--    Antes (OBS: Os comentários estão em //)
        <activity
            android:name=".SplashActivity"
            android:exported="false" /> // Esta tag foi criada automaticamente pelo AndroidStudio, pois o programador
            // criou (usando os recursos do AndroidStudio) uma classe, chamada de SplashActivity.

        <activity
            android:name=".MainActivity"
            android:exported="true"> // Esta tag foi criada automaticamente pelo AndroidStudio.

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <!-- Depois -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Esta tag foi criada automaticamente pelo AndroidStudio -->

        <activity
            android:name=".SplashActivity"
            android:exported="true"> <!-- Aqui, está informando que a tela "lançadora" da Aplicação será a SplashActivity. Ou seja,
            quando o aplicativo for executado inicialmente, vai exibir a tela de Splash. -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>